.theme-default {
  padding: 45px 0px 279px;
  @media screen and (max-width: 374px) {
    padding: 46px 0px 173px;   
  }
  @media screen and (min-width: 768px) {
    padding: 174px 25px 293px;
  }
  @media screen and (min-width: 1024px) {

  }
  .content-subtitle {
    color: #f02d3a;
    font-weight: bold;
  }
}

.theme1 {
  padding: 38px 0px 154px;
  min-height: 75vh;
  @media screen and (max-width: 374px) {
          
  }
  @media screen and (min-width: 768px) {
    padding: 81px 0px 198px;
  }
  @media screen and (min-width: 1024px) {
    padding: 137px 25px 257px;
    display: flex;
    vertical-align: center;
    align-items: center;
  }
  .image-wrapper {
    @media screen and (min-width: 1024px) {
        width: 50%;
        margin-right: 51px;
        margin-bottom: 0px;
      }
    img {
        margin-bottom: 26px;
        width: 100%;
        
      }
  }
  
  .content-wrapper {
    @media screen and (min-width: 1024px) {
          width: 50%;
    }
  }
}

.theme2 {
    padding: 45px 0 125px;
    @media screen and (max-width: 374px) {
      padding: 46px 0 101px;
    }
    @media screen and (min-width: 768px) {
      padding: 106px 0 201px;
    }
    @media screen and (min-width: 1024px) {
      padding: 70px 0 178px;
      display: flex;
      vertical-align: center;
      flex-direction: row-reverse;
    }
    .left, .right {
      @media screen and (min-width: 1024px) {
        width: 50%;
      }
    }
    .right {
      @media screen and (min-width: 1024px) {
         margin-top: 100px;
      }
     
    }
    p {
      line-height: 2;
    }
    .mark {
      background: #f02d3a;
      color: white;
    }
    .img-wrapper {
      width: 100%;
      text-align: center;
      .img-title {
        margin: 50px 0 20px;
        font-size: 18px;
        font-weight: bold;
        @media screen and (max-width: 374px) {

        }
        @media screen and (min-width: 768px) {
          margin: 53px 0 20px;
        }
        @media screen and (min-width: 1024px) {
          margin: 70px 0 30px;
        }
      }
      img {
        width: 100%;
      }
    }
}

.theme3 {
    padding: 45px 0 132px;
    @media screen and (max-width: 374px) {

    }
    @media screen and (min-width: 768px) {
      padding: 238px 10% 389px;
    }
    @media screen and (min-width: 1024px) {
      padding: 116px 10% 264px;
    }
    .top {
        display: flex;
        align-items: flex-end;
        margin: 45px 0 14px;
        .top-left,.top-right {
          vertical-align: bottom;
        }
        .top-left {
          img {
            margin-right: 10px;
          }
        }
        .top-right {
          h4, p {
            margin: 0px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .quote {
        
        .mark {
          background-color: #e0dfd5;  
          line-height: 2;
          color: black;
        }
      }
}